<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rusia 2018</title>
<meta name="description" content="Polla Facil"></meta>
<meta name="keywords" content="Sistema de apuestas simple"></meta>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/general.css}" />
</head>
<body>
	<div class="container-fluid" style="margin: 10px">
		<th:block>
			<nav class="navbar navbar-dark navbar-expand-sm bg-dark">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" th:href="@{'/' + ${domain} + '/index'}"><img
							th:src='@{/img/rusia2018.mundial.jpg}' alt="Polla Facil"></img></a>
					</div>
					<ul class="nav navbar-nav">
						<li class="nav-item"><a class="nav-link" href="#puntajes">Puntajes</a></li>
						<li class="nav-item"><a class="nav-link" href="#apuestas">Apuestas</a></li>
					</ul>
				</div>
			</nav>
		</th:block>

		<h1 th:text="${participante.getNombre()}">...</h1>
		<h3
			th:text="${'Puntaje:' + participante.getPuntos() + ' Lugar:' + participante.getLugar()}">...</h3>

		<div id="puntajes">
			<h2>Puntajes</h2>
			<table class="table table-bordered table-dark" border="1">
				<thead>
					<tr>
						<th align="center" style="width: 10%">Etapa</th>
						<th align="center" style="width: 10%">Puntos Resultado</th>
						<th align="center" style="width: 10%">Puntos Marcador</th>
						<th align="center" style="width: 10%">Puntos Clasificados</th>
						<th align="center" style="width: 10%">Total</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="puntaje : ${puntajes}">
						<tr>
							<td th:text="${puntaje.getFaseString()}">...</td>
							<td th:text="${puntaje.getPuntosResultado()}">...</td>
							<td th:text="${puntaje.getPuntosMarcador()}">...</td>
							<td th:text="${puntaje.getPuntosEquiposClasificados()}">...</td>
							<td th:text="${puntaje.getTotal()}">...</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>

		<div id="apuestas">

			<div id="accordion">
				<div class="card bg-dark text-white">
					<div class="card-header" id="headingOne">
						<h5 class="mb-0">
							<button class="btn btn-light collapsed" data-toggle="collapse"
								data-target="#collapseOne" aria-expanded="true"
								aria-controls="collapseOne">Primera Fase</button>
							<button class="btn btn-light collapsed" data-toggle="collapse"
								data-target="#collapseTwo" aria-expanded="false"
								aria-controls="collapseTwo">Octavos de Final</button>
						</h5>
					</div>
					<div id="collapseOne" class="collapse" aria-labelledby="headingOne"
						data-parent="#accordion">
						<div class="card-body">
							<table class="table table-bordered table-dark" border="1">
								<thead>
									<tr>
										<th align="center" style="width: 10%">Grupo</th>
										<th align="center" style="width: 10%">Estado</th>
										<th align="center" style="width: 10%">Equipo Local</th>
										<th align="center" style="width: 10%">Equipo Visita</th>
										<th align="center" style="width: 10%">Goles Local (Apuesta)</th>
										<th align="center" style="width: 10%">Goles Visita (Apuesta)</th>
										<th align="center" style="width: 10%">Goles Local (Real)</th>
										<th align="center" style="width: 10%">Goles Visita (Real)</th>
										<th align="center" style="width: 10%">Fecha</th>
										<th align="center" style="width: 10%">Puntos</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="resultado : ${Util.filtrarPartidos(partidos, 'PRIMERA')}">
										<tr th:if="${resultado.getPuntos() == 0}" bgcolor="">
											<td th:text="${resultado.getGrupo().getNombre()}">...</td>
											<td th:text="${resultado.getStringEstado()}">...</td>
											<td align="right" th:text="${resultado.getLocal().getNombre()}">...</td>
											<td align="left" th:text="${resultado.getVisita().getNombre()}">...</td>
											<td align="right" th:text="${resultado.getStringGolesLocales()}">...</td>
											<td align="left" th:text="${resultado.getStringGolesVisita()}">...</td>
											<td align="right" th:text="${resultado.getResultadoReal().getStringGolesLocales()}">...</td>
											<td align="left" th:text="${resultado.getResultadoReal().getStringGolesVisita()}">...</td>
											<td th:if="${resultado.getFecha() != null}" th:text="${#dates.format(resultado.getFecha(), 'dd-MM-yyyy HH:mm')}">...</td>
											<td th:if="${resultado.getFecha() == null}" th:text="--">...</td>
											<td th:text="${resultado.getPuntos()}">...</td>
										</tr>
										<tr th:if="${resultado.getPuntos() == PRIMERAPuntosResultado}" bgcolor="#C0C0C0">
											<td style="color: #000000;" th:text="${resultado.getGrupo().getNombre()}">...</td>
											<td style="color: #000000;" th:text="${resultado.getStringEstado()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getLocal().getNombre()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getVisita().getNombre()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getStringGolesLocales()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getStringGolesVisita()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getResultadoReal().getStringGolesLocales()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getResultadoReal().getStringGolesVisita()}">...</td>
											<td style="color: #000000;" th:if="${resultado.getFecha() != null}" th:text="${#dates.format(resultado.getFecha(), 'dd-MM-yyyy HH:mm')}">...</td>
											<td style="color: #000000;" th:if="${resultado.getFecha() == null}" th:text="--">...</td>
											<td style="color: #000000;" th:text="${resultado.getPuntos()}">...</td>
										</tr>
										<tr th:if="${resultado.getPuntos() &gt; PRIMERAPuntosResultado}" bgcolor="#FFD700">
											<td style="color: #000000;" th:text="${resultado.getGrupo().getNombre()}">...</td>
											<td style="color: #000000;" th:text="${resultado.getStringEstado()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getLocal().getNombre()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getVisita().getNombre()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getStringGolesLocales()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getStringGolesVisita()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getResultadoReal().getStringGolesLocales()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getResultadoReal().getStringGolesVisita()}">...</td>
											<td style="color: #000000;" th:if="${resultado.getFecha() != null}" th:text="${#dates.format(resultado.getFecha(), 'dd-MM-yyyy HH:mm')}">...</td>
											<td style="color: #000000;" th:if="${resultado.getFecha() == null}" th:text="--">...</td>
											<td style="color: #000000;" th:text="${resultado.getPuntos()}">...</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="card bg-dark text-white">
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
						data-parent="#accordion">
						<div class="card-body">
							<table class="table table-bordered table-dark" border="1">
								<thead>
									<tr>
										<th align="center" style="width: 10%">Estado</th>
										<th align="center" style="width: 10%">Equipo Local</th>
										<th align="center" style="width: 10%">Equipo Visita</th>
										<th align="center" style="width: 5%">Goles Local(Apuesta)</th>
										<th align="center" style="width: 5%">Goles Visita (Apuesta)</th>
										<th align="center" style="width: 5%">Penales Local(Apuesta)</th>
										<th align="center" style="width: 5%">Penales Visita (Apuesta)</th>
										<th align="center" style="width: 5%">Goles Local (Real)</th>
										<th align="center" style="width: 5%">Goles Visita (Real)</th>
										<th align="center" style="width: 5%">Penales Local(Real)</th>
										<th align="center" style="width: 5%">Penales Visita (Real)</th>
										<th align="center" style="width: 20%">Fecha</th>
										<th align="center" style="width: 10%">Puntos</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="resultado : ${Util.filtrarPartidos(partidos, 'OCTAVOS')}">
										<tr th:if="${resultado.getPuntos() == 0 || resultado.getPuntos() == null}" bgcolor="">
											<td th:text="${resultado.getStringEstado()}">...</td>
											<td align="right" th:text="${resultado.getLocal().getNombre()}">...</td>
											<td align="left" th:text="${resultado.getVisita().getNombre()}">...</td>
											<td align="right" th:text="${resultado.getStringGolesLocales()}">...</td>
											<td align="left" th:text="${resultado.getStringGolesVisita()}">...</td>
											<td align="right" th:text="${resultado.getStringPenalesLocales()}">...</td>
											<td align="left" th:text="${resultado.getStringPenalesVisita()}">...</td>
											<td align="right" th:text="${resultado.getResultadoReal().getStringGolesLocales()}">...</td>
											<td align="left" th:text="${resultado.getResultadoReal().getStringGolesVisita()}">...</td>
											<td align="right" th:text="${resultado.getResultadoReal().getStringPenalesLocales()}">...</td>
											<td align="left" th:text="${resultado.getResultadoReal().getStringPenalesVisita()}">...</td>
											<td th:if="${resultado.getFecha() != null}" th:text="${#dates.format(resultado.getFecha(), 'dd-MM-yyyy HH:mm')}">...</td>
											<td th:if="${resultado.getFecha() == null}" th:text="--">...</td>
											<td th:text="${resultado.getPuntos()}">...</td>
										</tr>
										<tr th:if="${resultado.getPuntos() == OCTAVOSPuntosResultado}" bgcolor="#C0C0C0">
											<td style="color: #000000;" th:text="${resultado.getStringEstado()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getLocal().getNombre()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getVisita().getNombre()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getStringGolesLocales()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getStringGolesVisita()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getStringPenalesLocales()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getStringPenalesVisita()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getResultadoReal().getStringGolesLocales()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getResultadoReal().getStringGolesVisita()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getResultadoReal().getStringPenalesLocales()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getResultadoReal().getStringPenalesVisita()}">...</td>
											<td style="color: #000000;" th:if="${resultado.getFecha() != null}" th:text="${#dates.format(resultado.getFecha(), 'dd-MM-yyyy HH:mm')}">...</td>
											<td style="color: #000000;" th:if="${resultado.getFecha() == null}" th:text="--">...</td>
											<td style="color: #000000;" th:text="${resultado.getPuntos()}">...</td>
										</tr>
										<tr th:if="${resultado.getPuntos() &gt; OCTAVOSPuntosResultado}" bgcolor="#FFD700">
											<td style="color: #000000;" th:text="${resultado.getStringEstado()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getLocal().getNombre()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getVisita().getNombre()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getStringGolesLocales()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getStringGolesVisita()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getStringPenalesLocales()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getStringPenalesVisita()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getResultadoReal().getStringGolesLocales()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getResultadoReal().getStringGolesVisita()}">...</td>
											<td style="color: #000000;" align="right" th:text="${resultado.getResultadoReal().getStringPenalesLocales()}">...</td>
											<td style="color: #000000;" align="left" th:text="${resultado.getResultadoReal().getStringPenalesVisita()}">...</td>
											<td style="color: #000000;" th:if="${resultado.getFecha() != null}" th:text="${#dates.format(resultado.getFecha(), 'dd-MM-yyyy HH:mm')}">...</td>
											<td style="color: #000000;" th:if="${resultado.getFecha() == null}" th:text="--">...</td>
											<td style="color: #000000;" th:text="${resultado.getPuntos()}">...</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/webjars/jquery/2.1.1/jquery.min.js/"></script>
		<script type="text/javascript" src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" th:src="@{/js/general.js}"></script>
		<button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
	</div>
</body>
</html>